.validation_text {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .validation_text span {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 5px;
    color: red;
  }
  .err{
    background-color:"transparent" !important;
  }